* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: repeat url(/src/img/anurag-challa-wA-hpHErU_I-unsplash.jpg);
  /* background-color: black; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.search-container {
  /* position: relative; */
  /* top: 35%; */
  /* transform: translateY(0%); */

  width: 100%;
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: 1s; */
  margin-top: 17%;
}
/* .search-container-animation { */
/* position: relative; */
/* top: 20% !important; */
/* transform: translateY(-25%) !important; */
/* } */
.logo-container {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-shadow:
    1px -1px 0 #62c4ec,
    2px -2px 0 #9f9f9f;
  margin-bottom: 20px;
}
.logo {
  width: 70px;
}
h1 {
  padding-top: 2px;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  margin-bottom: 20px;
}
.search-box label {
  color: white;
  font-size: 1.1rem;
}
.search-box input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: #d4d4d4 solid 1px;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 20px;
}

.search-box button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-box button img {
  width: 20px;
  height: 20px;
}

.metrics {
  color: white;
  display: none;
}
/* 
.loader {
  position: relative;
  top: 50%;
  right: 50%;
  width: 60px;
  height: 60px;
  border: 5px solid #00aaff62;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} */

/* @keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.results-container {
  display: none;
  width: 100%;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
}
.day-weather-results {
  /* display: none; */
  /* border-left: 2px solid #d2d2d26e; */

  opacity: 0;
  transition: opacity 1s ease;
  width: calc(100% - 130px);
}

.side-day-weather {
  /* width: 140px; */
  min-width: 130px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.side-day-weather::-webkit-scrollbar {
  width: 5px;
}
.side-day-weather::-webkit-scrollbar-thumb {
  background-color: #00a6ff44;
  box-shadow: inset 1px 1px 6px rgba(132, 132, 132, 0.3);
  border-radius: 100px;
}
.location-searched {
  background-color: #62c4ec;
  border-radius: 24px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}
.weather-data-showed {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-height: 1043px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease;
  /* grid-template-rows: repeat(auto-fill, 100px); */
}
.weather-data-showed > .icon {
  width: 200px;
  grid-area: 1/1/4/2;
  filter: drop-shadow(2px 4px 6px black);
}
.country {
  font-weight: bold;
}
.date-time {
  font-style: italic;
}
.time {
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 700;
}

.days {
  padding: 16px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #d2d2d26e;
  border-right: 2px solid #d2d2d26e;
}

.days:hover {
  background-color: #d4d4d462;
  cursor: pointer;
}
.days .temp {
  color: #505050;
  /* font-weight: bold; */
  font-size: 0.8rem;
}
.days .icon {
  margin: -4px 0;
}
.days p {
  font-size: 1.1rem;
  color: #1e9ab6;
  font-weight: bold;
  margin-bottom: 3px;
}

.days:first-child {
  border-radius: 24px 0 0 0;
}
.days:first-child p {
  margin-top: 10px;
}
.days:last-child {
  border-radius: 0 0 0 24px;
  border-bottom: none;
}

.weather-temp {
  margin: 40px 0;
  font-size: 2rem;
}

.weather-condition {
  font-size: 1.4rem;
  grid-area: 3/1/5/2;
}
.weather-data {
  text-align: center;
}

.data-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.weather-feelslike,
.weather-wind,
.weather-pressure,
.weather-precip,
.weather-humidity,
.weather-cloud,
.weather-visibility,
.weather-uv,
.weather-gust {
  font-size: 1.1rem;
}
.data-items .title {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: grey;
}
.data-icons > * {
  opacity: 0.3;
  margin-right: 10px;
  width: 20px;
}

.min-temp {
  color: gray;
  font-size: 1.5rem;
}

.weather-chart {
  width: 100%;
  height: 150px;

  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease;
}

@media (min-width: 1300px) {
  .weather-temp {
    grid-column: 2 / -1;
  }
}
@media (min-width: 1000px) {
  .weather-data-showed {
    overflow: unset;
    /* max-height: 40.5rem; */
  }
  /* .side-day-weather {
    max-height: 40.5rem;
  } */
  .results-container {
    width: 80%;
    max-height: 44rem;
    overflow: hidden;
  }
  .search-container {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .day-weather-results {
    padding: 10px 30px 30px;
  }

  .location-searched {
    flex-direction: row;
    height: 40px;
    padding-left: 30px;
    border-radius: 50px;
  }
}
@media (min-width: 850px) {
  .weather-data-showed {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (min-width: 550px) {
  .side-day-weather {
    height: 96vh;
  }
}
